a {
	text-decoration: none;
}
@font-face {
	font-family: fontGeneral;
	src: url(../data/fonts/fontGeneral.otf);
}
.navbar-default{
	border:none !important;
	font-family: fontGeneral;
	font-size: 18px;
	background-color: rgba(255,255,255,0);
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-nav>li>a:visited {
	color: white;
}
.navbar-default .navbar-nav>li>a:active {
	color: #F7F3BC;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #F7F3BC;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.name{
	font-family:fontGeneral;
	font-size:30px;
}
.iam{
	font-family:fontGeneral;
	font-size:15px;
}
.info{
	font-family:fontGeneral;
	font-size:15px;
	text-align: left;
}
.row{
	padding-bottom: 20px;
	padding-top: 20px;
}
.hobbies{
	margin-left: 10px;
	font-family:fontGeneral;
	font-size:15px;
}
#about, #academy, #jobs{
	padding-top: 100px;
	padding-bottom: 30px;
	font-family:fontGeneral;
	text-decoration: underline;
	padding-left: 20px;
}
.img-responsive {
	display:inline-block;
	height:auto;
	max-width:100%;
	margin-top: -30px;
}
.posted_box {
	font-size:12px;
	text-transform:uppercase;
	margin-bottom:20px;
	font-weight:bold
}
.infoPersonal{
	border-right: 2px solid #F7F3BC;
	margin-right: -2px;
}
.double{
	border-right: 3px solid #F7F3BC;
	margin-right: -3px;
	border-left: 3px solid #F7F3BC;
	margin-left: -3px;
}
.races{
	border-left: 2px solid #F7F3BC;
	margin-left: -2px;
}
.separation{
	border-bottom: 2px solid #F7F3BC;
	margin-bottom: -2px;
}
.photoRaces{
	width:70%;
	display:block; 
	margin-left: auto;
	margin-right: auto;
}
.projectssub h3{
	font-size: 15px;
	font-family:fontGeneral;
	margin-top: -20px;
}
#section1{
	height: 100vh;
	background-image: url("../data/img/background.jpg");
}
.photo{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	color:white;
	text-align:center;
	height:100vh;
}
.imgphoto{
	width:30%;
	display:block; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
}
.logoiron{
	width: 150px;
	display:block; 
	margin-left: auto;
	margin-right: auto;
}
.margin_project{
	padding-bottom: 20px;
}
@media (max-width: 1012px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		background-color: black;
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}